<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand noDecor" href="/">YelpCamp</a>
                </div>
                <ul class="nav navbar-nav ml-auto">
                   <% if(!currentUser){  %>
                        <li> <a class="nav-link noDecor" href='/login'> <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li> <a class="nav-link noDecor" href='/register'> <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                   <% }else{ %>
                        <li class="nav-link noDecor">Signed In As <%= currentUser.username %> </li>
                        <li> <a class="nav-link noDecor" href='/logout'>Logout</a></li>
                   <% } %>
                </ul>
            </div>
        </nav>