<%- include("./partials/header") %>

<div class="container text-center">
    <h1>Log In</h1>

    <form action="/login" method="POST">
        <input class="form-control mb-1 col-sm-4 mx-auto mt-4" type="text" name="username" placeholder="username" required>
        <input class="form-control mb-1 col-sm-4 mx-auto" type="text" name="password" placeholder="password" required>
        <button class="btn btn-primary btn-lg btn-block col-sm-4 mx-auto">Log In</button>
    </form>

    <a class="nav-link" href="/campgrounds">Go Back</a>
</div>

<%- include("./partials/footer") %> 